
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif ;
    background: black;
    
}


.person-content{
    height: 100vh;
    width: 100vh;
 
    display: flex;

    flex-direction: column;

    position: absolute;
    top: 30vh;
}

.person-content h1{
    color: transparent;
    position: relative;
    width: fit-content;
  
    left: 33vh;

    font-size: 7vh;
    line-height: 0vh;

    animation: written_tex .5s ease forwards;
}

#name {
    color:transparent;
    animation: written_name .5s ease forwards;
    
}


@keyframes written_tex{
  100% {
      color: white;
 }
}

@keyframes written_name{
  100% {
      color: rgb(0, 145, 194);
 }
}

.person-content div,h1:nth-child(1){
    animation-delay: 0.2s;
}
.person-content div,h1:nth-child(2){
    animation-delay: 1s;
}
.person-content #name:nth-child(3){
    animation-delay: 2s;
}








.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    width:80vh;
    left: 26vh;
   

    position: relative;
    top: 64vh;
   
}

.stacks ul li{
    display: flex;
    align-items: center;
    
   
    position: relative;
    
  
   margin-left: 1.5vh;
    
  
    list-style: none;
} 


.stacks ul li img{
    width: 6vh;
    height: auto;
    position: relative;
   
    
    
    transition: transform .3s ease;

}

.stacks ul li div img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after{
    content: attr(data);
    position: absolute;
    top: 8vh;
    left: 1vh;

    width: auto;
    height: auto;

    color: white;
}

.stacks .CS {
    width: 7.4vh;
}



.fundo-perfil{
    width: 50%;
    height: 100%;

    background-size: cover;
    background-position: center;
}

.fundo-perfil img{
    width: 80vh;
    top: 0vh;
    position: absolute;
    left: 130vh;
}


.fundo-perfil::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80vh;
    left: 130vh;
   
    height: 103.6vh;

    
    
    background: 
    linear-gradient(.55turn, transparent 30%, black),      
    linear-gradient(.6turn, transparent 30%, black),      
    linear-gradient(.11turn, transparent 65%, black);
}



.perfil img{
    width: 40vh;
    position: relative;
    top: 10vh;
    left: 145vh;
    border-radius: 50%; 
}

.redes img {
    width: 5.5vh;
    position: relative;
    margin-left: 6vh;
    left: 144.4vh;
    top: 13vh;
    transition: all .3s ease;
    filter: brightness(0.8);
}

.redes img:hover{
    transform: scale(1.15);
    cursor: pointer;
    filter: brightness(1);
}





#about{
    height: 100vh;
    width: 100vh;
    background: black;
     

    display: flex;
    color: white;
}

.background-about{
   width: 100vh;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 100vh;
}

.img-wrapper{
    height: 100vh;
    width: 100vh;
    
    left: -3vh;
    position: relative;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vh;

    background: 
      linear-gradient(.25turn, transparent 30%, black),      
      linear-gradient(.5turn, transparent 30%, black),      
      linear-gradient(.0turn, transparent 65%, black);
}

.img-wrapper img{
  width: 100vh;
  height: 100vh;

  object-fit: cover;
}


.box-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 100vh;
    top: 95vh;
    width: 100vh;
   
    padding: 3vh;
}

.section-subtitle h2 p{
    display: inline-block;
    font-size: 5vh;
}

.section-subtitle h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 10px;

    color: black;
    background: white;
}

.box-about h3{
    margin: 0vh;
    font-size: 3vh;
   
    position: relative;
    top: -5vh;
}

.box-about h3 p{
   display: inline-block;

   width: fit-content;
   padding: 1vh 3vh;
   border-radius: 6px;

   color: black;
   background: white;
}

.box-about h4{
   margin: 1vh 3vh;
   font-size: 2.6vh;

  
}

.box-about h4 p{
    display: inline;
    padding: 7vh 2vh;

    color: blue;
    font-size: bold;
    font-weight: 1.75rem;
}

.box-about p{
    font-size: 3vh;
}

.button-cta {
    display: flex;
    
    max-width: 30vh;
    
}

.button-cta a{
    display: inline-block;
    width: 100%;
    max-width: 172px;

    padding: 10px;
    margin: 3rem;

    font-size: 1.3rem;
    font-family: 'Poppin' sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;

    color: black;
    background: white;
    text-align: center;
    text-decoration: none;

    border-radius: 10px;
    cursor: pointer;
}

.button-cta a:hover{
    transition: all .3s ease;
    filter: brightness(.8);
}

#projects {
    height: 100vh;
    width: 200vh;
    background: black;

    margin-top: 70vh;
    display: flex;
    flex-direction: column;
    
}

.projects-title h2{
    margin: 3vh;
    padding: 1vh;
    font-size: 5vh;
    color: white;
    
}


/*.wrapper-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 500px;
    margin-top: 1rem;

    color: white;
}*/

.container-projects{
    height: 100vh;
    width: 200vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

}



.card-project {
    /*width: 320px;
    height: 450px;*/

    height: 100vh;
    width: 100vh;

    padding: 3vh 2vh 2vh;
    /*margin: 0px 10px;*/

    position: relative;
    top: 0vh;
    background: white;

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;

    
    z-index: 1;
}

.card-project::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;

    background: purple;
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
}

.swiper {
    height: 100vh;
    width: 200vh;

    max-width: 160vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    height: 74vh;
    
}

/*.content-project{
    height: 100%;
    width: 100%;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;

    z-index: 1;
}*/

.image-project{
    max-height: 38vh;
    max-width: 40vh;

    height: 100vh;
    width: 100vh;

    position: relative;
    
    overflow: hidden;
    border-radius: 30px;
   

    border-radius: 4px solid rgb(255, 255, 255);

    margin: 0 auto;
}

.image-project a img{
    height: 37vh;
    width: 40vh;
    object-fit: cover;

    border-radius: 30px;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 4px solid purple;

    transition: transform .3s ease-out;
    cursor: pointer;
}

.image-project img:hover{
    transform: scale(1.1);
}

.card-project span {
    color: black;
    font-weight: bold;
    font-size: 3vh;

    margin-left: 6vh ;
    top: 1.5vh;
    position: relative;
    
}

.card-project p{
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 1.7vh;
    margin-left: 3.5vh;
    top: 4vh;
    position: relative;
}

.cta-project {
    width: 30vh;
    margin: auto auto 15vh auto;
    position: relative;
    top: 9vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-project a{
    padding: 5px 16px;

    font-size: 2.2vh;
    color: white;
    background: purple;

    border-radius: 10px;
    
    text-decoration:   none;

    transition: opacity .3s ease;
}

.cta-project a:hover{
    opacity: .7;
}



#contacts{
    display: flex;
    flex-direction: column;

    height: 50vh;
    width: 200vh;

    background: rgb(0, 0, 0);
    color: white;
}

.contact-icon-content h2 {
    margin: 6vh 2vh 6vh 0vh;
    padding: 6vh 6vh 2vh 0vh;

    font-size: 4vh;
    color: white;
}

.contact-icons-wrapper {
    position: relative;
    top:15vh;
    right: 35vh;
    display: flex;
    align-items: center;
    flex-direction:row ;
}

.contact-icon-content{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0vh 3vh;
    padding: 1vh;
}

.contact-icon{
    height: 4vh;
    width: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3vh;

    background: white;
    padding: 4vh;
    border-radius: 50%;
}

.contact-icon i{

    font-size: 4vh;
    color: blue;
}

.contact-info span{
     display: block;
     font-size: 2vh;
     font-weight: bold;
}

.contact-info p{
    margin: .25vh 0vh;
}

.contact-info a {
    display: block;
    margin: .25vh 0vh;

    text-decoration: none;
    color: white;
}

.contact-info a:hover{
    transition: color .3s ease;
    color: blue;
}




#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200vh;
    height: 11vh;

    padding: 1vh 3vh;

    background: 'transparent';
    position: fixed;
    top: 0vh;

    z-index: 2;

    transition: all .3s ease;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: white;
    font-size: 4vh;

    transition: opacity .3s ease;
}

.header-title h1:hover{
    opacity: .8;
}


.navbar {
    max-width: 75vh;
    width: 100vh;

}

.navbar ul{
   list-style: none;

   display: flex;
   align-items: center;
   justify-content: space-around;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
}




#footer{
    height: 15vh;
    width: 210vh;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;

    background: #080808;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container-footer h2,h3 {
    color: white;
    margin-top: 0;
    font-size: 2vh;
}


 
